
		
.header-fixed {
	background-color:#292c2f;
	box-shadow: 10px rgba(0,0,0,.2);
	border: 10px;
	border-color: #060505;
	padding: 10px 40px;
	height: 70px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 50px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin-left: 70px;
	margin-top: 6px;
}

.header-fixed .header-limiter h1 span {
	color: #c00;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	float: left;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:20px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 10px;
	text-decoration:none;
	margin-right: 20px;
	color: #FAFAFA;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}
.header-fixed .header-limiter .img {
	width: 40px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	
}
.header-fixed .header-limiter .logo {
	width: 40px;
    margin-top: -5px;
	display: inline-block;
}



/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */

body {
	
	margin: 0;
	padding: 0;
	height: 100vh;
	
}

  div.back{
    
    background-color:#FFF;
	position: relative;
	width: 100vh;
	height: 595px;
	color: #ffffff;
	box-sizing: border-box;
  

  }	
  div.backMedia{
    
    background-color:#FFF;
	position: relative;
	width: 100vh;
	height: 195px;
	color: #ffffff;
	box-sizing: border-box;
  

  }	
  .text {

  	position: relative;
  	
  	height: 30vh;
    
  }

  .imgback{
  	background-size: cover;	

  	
  }
  .imgback h3{
  	float: center;
	font: normal 70px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	padding: 20px;
	color: #060505;
  }
   .imgback2{
  	background-size: cover;	
  	display: flex;
    align-items: stretch;
    justify-content: center;

  }
  .fotos{
  	border-style: solid;
  	border-width: 10px;
  	border-color: white;
    margin-top: 50px;
  	width: 480px;
  	margin-right: 40px;
  	border-color: white;
  	
  }
  .fotos:hover {

  	zoom:120%;
  }
  
  div.container{
    background-color:#e4d4cb;
	box-shadow:0 1px 1px #ccc;
	padding: 1em 1em;
	height: 545px;
	color: #ffffff;
	
	
  }
  .container.elemento{
  	display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .container h1{
  	float: center;
	font: normal 70px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	padding: 20px;
	color: #060505;
  }
  .back.elemento{
  	display: flex;
    align-items: stretch;
    justify-content: center;
  
  }

  .backA h1{
  	float: center;
	font: normal 50px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	padding: 20px;
	color: #060505;
  }

  


  body > footer {
    margin: 0px;
    padding: 1.25em;
   
    color: white;
    font-size: .85em;
}
body > footer div {
	box-shadow:5px #ccc;
    margin: auto;
    width: 70%;  
    text-align: center;
    padding: 1.25em 0px;
    height: 5vh;
}
body > footer .social {
    padding: 1em 3em;
}
body > footer .youtube {
    padding: 1em 3em;
}
body > footer .social img {
    vertical-align: middle;
    height: 4em;
    }
body > footer .youtube img {
    vertical-align: middle;
    height: 5.5em;
    margin-left: 10px;
    width: 70px;
}
}
body > footer h1{
  	float: center;
	font: normal 70px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	padding: 10px 200px;
	color: #060505;
	vertical-align: middle;
  }

  body > {
    margin: 0px;
    padding: 1.25em;
   
    color: white;
    font-size: .85em;
}
body > div {

	box-shadow:5px #ccc;
    margin: auto;
    width: 100%;  
    text-align: center;
    padding: 1.25em 0px;
}
body >  .social {
    padding: 1em 3em;
}
body >  .social img {
    vertical-align: middle;
    height: 2em;
}
body >  h1 .social	{
  	float: center;
	font: normal 70px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	padding: 10px 200px;
	color: #060505;
  }
.TextoA{
    
   
	position: relative;
	margin: 2em;  
	width: 300px;
	height: 500px;
	z-index: 3;
	
}
.TextoA:hover {
  zoom :120%;
}
.TextoB:hover {
  zoom :120%;
}
.TextoC:hover {
  zoom :120%;
}
.TextoB{
	
    
	position: relative;
	margin: 2em; 
	width: 300px;
	height: 500px;
	z-index: 2;
	
}
.TextoC{
	
   
    
	position: relative;
	margin: 2em;
	width: 300px;
	height: 500px;
	z-index: 1;
	
}
h3{
	font-size: 100%;
	font:20px Arial, Helvetica, sans-serif;
	color:#060505;
	
	overflow: auto;

}
/* CSS das imagens dos quadros de informação*/

 .mao{
	width: 50px;
	margin: 10px;
}
.caixa{
	margin-top: 20px
}