<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>RoadieBot</title>
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/about.css" />
</head>

<body>

<header class="header-fixed">

	<div class="header-limiter">
         
		<h1><a href="/home">Roadie<span>Bot</span></a></h1>
		<nav>
			<a href="/home">Home</a>
			<a href="/contact">Contact</a>
			<a href="/home">About</a>
			<a href="/home">Products</a>
			<a href="/home"><img class="logo" src="images/compras.jpg"></a>
			<a href="/homept"><img class="img" src="images/brasil.png"></a>
		</nav>

	</div>

</header>
<div class="back">
   <img class="imgback" src="images/bot3.jpg">
   

</div>
<div class="container" ><h1 class="elemento">Check out our products</h1> 
      <img class="fotos" src="images/bot2.jpg">
      <img class="fotos" src="images/bot1.jpg">
 </div>
<div class="back">
    	<div class="imgback2">
    <div class="TextoA">
    	<img class="caixa" src="images/bot4.png"><img class="mao" src="images/bot41.png">
    	<h3>RoadieBot allows you to make a better use of your rig. We empower you with "magical knobs" that will replace your pedal/amp knobs and then, voilà! You have presets of all your analog rig! This is RoadieBot Stage!</h3
    ></div>
    <div class="TextoB">
    	<img class="caixa" src="images/bot5.png"><img class="mao" src="images/bot51.png">
    	<h3>Using our pedal, you can easily travel throughout the presets, changing every parameter of your analog pedals and amp while playing. You can enjoy all the beautiful timbres of your vintage rig with the easiness of digital control.</h3> 
    </div>
    <div class="TextoC">
    	<img class="mao" src="images/bot6.png"><img class="caixa" src="images/bot61.png">
    	<h3>For audio engineers, we provide you a software so you can remotely control all your amplifier's timbre parameters during the guitar/bass recording. Just replace your amp knobs with ours and you're ready to go, keep the audio reference! This is RoadieBot Studio!</h3>
    </div>
    </div>
</div>
<footer>
    <div class="backMedia">
        <div class="imgback"><h3> Mídias Sociais</h3></div>
        
    </div>
    <div class="social">
        <a class="social" href="/home"><img src="images/logo-face.png"></a>
        <a class="social" href="/home"><img src="images/logo-Instagram.png"></a>
        <a class="youtube" href="/home"><img src="images/logo-youtube.png"></a>
    </div>    
</footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

	$(document).ready(function(){

		var showHeaderAt = 150;

		var win = $(window),
				body = $('body');

		// Show the fixed header only on larger screen devices

		if(win.width() > 600){

			// When we scroll more than 150px down, we set the
			// "fixed" class on the body element.

			win.on('scroll', function(e){

				if(win.scrollTop() > showHeaderAt) {
					body.addClass('fixed');
				}
				else {
					body.removeClass('fixed');
				}
			});

		}

	});

</script>
</body>

</html>
