<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>RoadieBot</title>
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/about.css" />
</head>

<body>

<header class="header-fixed">

	<div class="header-limiter">

		<h1><a href="/home">Roadie<span>Bot</span></a></h1>
		<nav>
			<a href="/homept">Início</a>
			<a href="/contact">Contato</a>
			<a href="/homept">Sobre</a>
			<a href="/homept">Produtos</a>
			<a href="/homept"><img class="logo" src="images/compras.jpg"></a>
			<a href="/home"><img class="img" src="images/usa.jpg"></a>
		</nav>

	</div>

</header>
<div class="back">
   <img class="imgback" src="images/bot3.jpg">
   

</div>
<div class="container" ><h1 class="elemento">Dê uma olhada em nossos produtos</h1> 
      <img class="fotos" src="images/bot2.jpg">
      <img class="fotos" src="images/bot1.jpg">
 </div>
<div class="back">
    	<div class="imgback2">
    <div class="TextoA">
    	<img class="caixa" src="images/bot4.png"><img class="mao" src="images/bot41.png">
    	<h3>O RoadieBot permite que você faça um melhor uso do seu equipamento. Nós capacitamos você com "botões mágicos" que substituirão seus botões de pedal / amplificador e voilà! Você tem presets de todos os seus equipamentos analógicos! Este é o RoadieBot Stage!</h3
    ></div>
    <div class="TextoB">
    	<img class="caixa" src="images/bot5.png"><img class="mao" src="images/bot51.png">
    	<h3>Usando o nosso pedal, você pode viajar facilmente pelas predefinições, alterando todos os parâmetros dos pedais analógicos e do amplificador enquanto estiver tocando. Você pode desfrutar de todos os belos timbres do seu equipamento vintage com a facilidade do controle digital.</h3> 
    </div>
    <div class="TextoC">
    	<img class="mao" src="images/bot6.png"><img class="caixa" src="images/bot61.png">
    	<h3>Para engenheiros de áudio, fornecemos um software para que você possa controlar remotamente todos os parâmetros de timbre do seu amplificador durante a gravação de guitarra / baixo. Basta substituir seus botões de amplificador com os nossos e está tudo pronto, mantenha a referência de áudio! Este é o RoadieBot Studio!</h3>
    </div>
    </div>
</div>
<footer>
    <div class="backMedia">
        <div class="imgback"><h3> Mídias Sociais</h3></div>
        
    </div>
    <div class="social">
        <a class="social" href="/homept"><img src="images/logo-face.png"></a>
        <a class="social" href="/homept"><img src="images/logo-Instagram.png"></a>
        <a class="youtube" href="/homept"><img src="images/logo-youtube.png"></a>
    </div>    
</footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

	$(document).ready(function(){

		var showHeaderAt = 150;

		var win = $(window),
				body = $('body');

		// Show the fixed header only on larger screen devices

		if(win.width() > 600){

			// When we scroll more than 150px down, we set the
			// "fixed" class on the body element.

			win.on('scroll', function(e){

				if(win.scrollTop() > showHeaderAt) {
					body.addClass('fixed');
				}
				else {
					body.removeClass('fixed');
				}
			});

		}

	});

</script>
</body>

</html>
